<mat-menu #menu="matMenu" class="matMenu">
    <button mat-menu-item routerLink="/">
        <i class="material-icons darkRed"> star_border </i>
        <span class="grey"> Destaque</span>
    </button>
    <button mat-menu-item routerLink="/videos">
        <i class="material-icons darkRed"> play_circle_outline </i>
        <span class="grey"> Videos </span>
    </button>
</mat-menu>

<mat-toolbar>
    <div class="container header">

        <div class="row">

            <div class="col-md-3">
                <span mat-button class="title-menu">
                    <i class="material-icons">play_circle_outline</i>
                    <span class="header-default"> Fictícia Vídeos</span>
                </span>
            </div>

            <div class="col-md-6">
                <form (submit)="search()">
                    <input matInput [class.normal-div]="visible" class="form-control btn-search" name="query" [(ngModel)]="query" type="text" placeholder="">
                </form>
            </div>
            <div class="col-md-3">
                <button mat-button class="float-right" [matMenuTriggerFor]="menu">
                    Menu <mat-icon>dehaze</mat-icon>
                </button>
                <button mat-icon-button class="float-right" (click)="visible=true">
                    <mat-icon>search</mat-icon>
                </button>
            </div>

        </div>
    </div>
</mat-toolbar>



<router-outlet></router-outlet>
